
GameJamUnity/Library/

GameJamUnity/.vscode/

GameJamUnity/Logs/

GameJamUnity/Temp/

GameJamUnity/UserSettings/

GameJamUnity/GameJamUnity.sln

GameJamUnity/Assembly-CSharp.csproj

GameJamUnity/.vs/

GameJamUnity/obj/

GameJamUnity/Assembly-CSharp-Editor.csproj

*.csproj
